Repository TeshariEnjoer/Laplas-Station, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shiptest-ss13/maptainers, @shiptest-ss13/spritetainers, @shiptest-ss13/admins, @FalloutFalcon, @MarkSuckerberg

More things: - Spawn ship - Changed configs - Two new ships assemblines
  _maps/shuttles/motherships/laplas_devship.dmm
  _maps/shuttles/motherships/laplas_ishimura.dmm
  code/__DEFINES/laplas_defines/ships.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/overmap.dm
  config/config.txt
  config/laplas_configs/laplas_configs.txt
  config/laplas_configs/laplas_game_options.txt
  laplas/code/modules/config/laplas_configs.dm
  laplas/code/modules/overmap/_overmap.dm
  laplas/code/modules/overmap/ship/_ship.dm
  laplas/code/modules/overmap/ship/mathership.dm
  shiptest.dme
Owners: @shiptest-ss13/maptainers

Laplas development - mathership loadin... and WAY MORE changes: - New maxcap for Z levels - Changed atom.has_gravity() - And way more changes..
  _maps/shuttles/matherships/laplas_devship.dmm
  _maps/shuttles/matherships/laplas_ishimura.dmm
  _maps/shuttles/motherships/laplas_devship.dmm
  _maps/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/shuttles/nanotrasen/nanotrasen_meta.dmm
  code/__DEFINES/laplas_defines/ships.dm
  code/__DEFINES/maps.dm
  code/__HELPERS/names.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/overmap.dm
  code/game/area/ship_areas.dm
  code/game/atoms.dm
  code/modules/mob/dead/new_player/ship_select.dm
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/overmap/objects/outpost/outpost.dm
  code/modules/power/gravitygenerator.dm
  code/modules/power/lighting.dm
  code/modules/unit_tests/planet_gen.dm
  config/config.txt
  config/laplas_configs/laplas_configs.txt
  config/laplas_configs/laplas_game_options.txt
  config/laplas_configs/mathership_config.json
  laplas/code/modules/areas/_area.dm
  laplas/code/modules/areas/overrides/machinery.dm
  laplas/code/modules/config/laplas_configs.dm
  laplas/code/modules/overmap/_overmap.dm
  laplas/code/modules/overmap/mathership_port.dm
  laplas/code/modules/overmap/ship/_ship.dm
  laplas/code/modules/overmap/ship/controlled.dm
  laplas/code/modules/overmap/ship/mathership.dm
  laplas/code/modules/overmap/templates/mathership_template.dm
  shiptest.dme
Owners: @shiptest-ss13/maptainers, @MarkSuckerberg

New tittles screen begining part 1/5
  code/__DEFINES/laplas_defines/titlescreen.dm
  html/browser/FixedsysExcelsior3.01Regular.ttf
  laplas/code/modules/new_player/loadscreen/SStitle.dm
  laplas/code/modules/new_player/loadscreen/new_playerHTML.dm
  laplas/code/modules/new_player/new_player.dm
  laplas/icons/loading_screen.gif
  laplas/icons/skyrat_title_screen.png
  laplas/sounds/effects/save.ogg
  laplas/tools/data/progress_cache.json
  shiptest.dme
Owners: none

How fix
  laplas/code/modules/new_player/new_player.dm
Owners: none

New lobby and loading screens, update mathership code
  _maps/shuttles/matherships/laplas_devship.dmm
  code/__DEFINES/laplas_defines/titlescreen.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/ticker.dm
  code/modules/mob/dead/new_player/login.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/power/gravitygenerator.dm
  config/config.txt
  interface/skin.dmf
  laplas/code/modules/areas/overrides/machinery.dm
  laplas/code/modules/mapping/SSmapping.dm
  laplas/code/modules/mapping/mathership_config.dm
  laplas/code/modules/new_player/loadscreen/SStitle.dm
  laplas/code/modules/new_player/loadscreen/new_playerHTML.dm
  laplas/code/modules/new_player/new_player.dm
  laplas/code/modules/overmap/_overmap.dm
  laplas/code/modules/overmap/mathership_port.dm
  shiptest.dme
Owners: @shiptest-ss13/maptainers

tittles screen 2/5
  code/__DEFINES/laplas_defines/titlescreen.dm
  code/controllers/subsystem/ticker.dm
  code/modules/mob/dead/new_player/new_player.dm
  laplas/code/modules/mapping/SSmapping.dm
  laplas/code/modules/new_player/loadscreen/new_playerHTML.dm
Owners: none

Fance looby screen 4/5, new map loader for big maps
  code/__DEFINES/laplas_defines/ships.dm
  code/controllers/subsystem/overmap.dm
  code/game/area/ship_areas.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  laplas/code/modules/areas/_area.dm
  laplas/code/modules/areas/overrides/machinery.dm
  laplas/code/modules/mapping/SSmapping.dm
  laplas/code/modules/overmap/_overmap.dm
  laplas/code/modules/overmap/mathership_port.dm
  laplas/code/modules/overmap/ship/mathership.dm
  laplas/code/modules/overmap/templates/mathership_template.dm
  shiptest.dme
Owners: @MarkSuckerberg

Finished map loader, file organization
  code/game/atoms.dm
  laplas/code/modules/mapping/SSmapping.dm
  laplas/code/modules/overmap/ship/mathership/mathership.dm
  laplas/code/modules/overmap/ship/mathership/mathership_port.dm
  shiptest.dme
Owners: none

Abstract map - next part
  code/__DEFINES/laplas_defines/abstract_map.dm
  laplas/code/modules/abstract_overmap/SSabstract_overmap.dm
  laplas/tools/abstract_map/main.py
  laplas/tools/abstract_map/overmap.py
  shiptest.dme
Owners: none

Abstract map continue
  code/__DEFINES/laplas_defines/abstract_map.dm
  laplas/code/modules/abstract_overmap/SSabstract_overmap.dm
  laplas/tools/abstract_map/camera.py
  laplas/tools/abstract_map/main.py
  laplas/tools/abstract_map/objects/object.py
  laplas/tools/abstract_map/overmap.py
Owners: none

Abstract overmap: - Finished HTTP server - New class object - Processing system - Graviation system - Base camere framework
  laplas/abstract_map/assets/object.png
  laplas/abstract_map/colors.py
  laplas/abstract_map/config.py
  laplas/abstract_map/globals.py
  laplas/abstract_map/objects/camera.py
  laplas/abstract_map/objects/object.py
  laplas/abstract_map/objects/processing.py
  laplas/abstract_map/overmap.py
  laplas/abstract_map/server.py
Owners: none

Abstract map updates
  code/__DEFINES/laplas_defines/abstract_map.dm
  laplas/abstract_map/assets/planet.png
  laplas/abstract_map/assets/ship.png
  laplas/abstract_map/globals.py
  laplas/abstract_map/objects/camera.py
  laplas/abstract_map/objects/gravitational.py
  laplas/abstract_map/objects/object.py
  laplas/abstract_map/objects/processing.py
  laplas/abstract_map/objects/ship.py
  laplas/abstract_map/overmap.py
  laplas/abstract_map/server.py
  laplas/code/modules/abstract_overmap/SSabstract_overmap.dm
Owners: none

Abstract map and space mechanics updates
  code/__DEFINES/laplas_defines/halpers/abstract_map.dm
  laplas/abstract_map/overmap.py
  laplas/abstract_map/server.py
  laplas/code/modules/abstract_overmap/SSabstract_overmap.dm
  laplas/code/modules/abstract_overmap/objects/gravitational.dm
  laplas/code/modules/abstract_overmap/objects/~overmap_object.dm
  shiptest.dme
Owners: none

abstract overmap improvment: new obj type for abstract object SS abstract overmap update All ready for seting up new space system
  code/__DEFINES/laplas_defines/halpers/abstract_map.dm
  code/modules/admin/admin_verbs.dm
  laplas/abstract_map/server.py
  laplas/code/modules/abstract_overmap/SSabstract_overmap.dm
  laplas/code/modules/abstract_overmap/admin_verbs.dm
  laplas/code/modules/abstract_overmap/objects/gravitational.dm
  laplas/code/modules/abstract_overmap/objects/ship.dm
  laplas/code/modules/abstract_overmap/objects/~overmap_object.dm
  shiptest.dme
Owners: none

Overmap workflow
  laplas/abstract_map/server.py
  laplas/code/modules/abstract_overmap/SSabstract_overmap.dm
  laplas/code/modules/abstract_overmap/objects/~overmap_object.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# TEAMS

# Map Maintainers
/_maps/ @shiptest-ss13/maptainers

# Sprite Maintainers
/icons/ @shiptest-ss13/spritetainers

# CI and tool chains
/tools/ @shiptest-ss13/admins


# MAINTAINERS

# FalloutFalcon

/code/game/objects/items/storage/ration.dm @FalloutFalcon
/code/modules/food_and_drinks/drinks/drinks/breakawayflask.dm @FalloutFalcon
/code/modules/food_and_drinks/food/ration.dm @FalloutFalcon
/code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm @FalloutFalcon
/code/modules/projectiles/ @FalloutFalcon
/code/modules/reagents/chemistry/reagents/trickwine_reagents.dm @FalloutFalcon
/code/modules/unit_tests/icons/ @FalloutFalcon

# MarkSuckerberg

/code/controllers/subsystem/shuttle.dm @MarkSuckerberg
/code/modules/shuttle/ @MarkSuckerberg
/code/modules/overmap/ @MarkSuckerberg
/_maps/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm @MarkSuckerberg


# CONTRIBUTORS


# MULTIPLE OWNERS
